<<<<<<< HEAD
<div class="container">
        <div class="row">
                        <div class="col-md-5 col-xs-12" id="order-up-container">
                <h2 id="order-ready-message">Order up!</h2>
             
                    <ul class="list-group undevouredBurgers">
                         {{#each burgers}}
                             {{#unless this.consumed}}
                         <li>
                            {{this.burger_name}}
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="consumed" value="true">
                                <button type="submit" class="btn btn-default" id="devour-button">Devour Me</button>
                            </form>

                                  {{> burgers/delete-burger}}
                               </li>
                            {{/unless}}
                           {{/each}}
                         </ul>      
                         </div>         
           
            <div class="container">
                <div class="col-md-5 col-xs-12" id="stomach-container">
                    <h2>Your Digital Stomach</h2>
                    <ul>
                      {{#each burgers}}
                         {{#if this.consumed}}
                         <li>
                      {{this.name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="consumed" value="false">
            </form>
      </li>


        {{> burgers/delete-burger}}
         <form action="/{{this.id}}?_method=DELETE" method="POST">
          <input type="hidden">
          <button type="submit" class="btn btn-default" id="recycle-button">Recycle</button>
        </form>
    {{/if}}
  {{/each}}
</ul>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-4 container">
                <p></p>
            </div>
            <div class="col-lg-4 container" id="prep-food-container">
                <h2 id="counter-header text-center">Order Burgers Here!</h2>
                <form>
                    <div class="form-group">
                        <label for="burger_order">Burger Name</label>
                        <input type="burger" class="form-control" id="counter" placeholder="Your Burger Here">
                        <div class="btn btn-lg btn-primary" id="order-burger-button">Or My Burger</div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 container">
                <p></p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
=======
<div class="comtainer">
<div class="jumbtron">
<h1>Eat-da-Burger</h1>
<small>Where you can customize a digital sandwhich, order it, and then NOM, NOM, NOM/</small>
</div>
</div>
<!-- <h2>Burgers waiting to be consumed</h2>

<ul>
  {{#each burgers}}
    {{#unless this.consumed}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="consumed" value="true">
          <button type="submit">Devour Me</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Inside Your Digital Stomach</h2>

<ul>
  {{#each cats}}
    {{#if this.consumed}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="consumed" value="false">
          <button type="submit">Defecate</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Prepare a BURGER</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Ready to Eat?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Consumed!<br>
    <input type="radio" name="sleepy" value="0"> Prepared and Ready to eat!
  </div>

  <button type="submit">Prepare a Burger</button>
</form> -->
>>>>>>> parent of 90a4884... 80-85% completed, needing jquery slide-show, and styling
